.footer {
    justify-content: space-between;
    margin-bottom: 1rem;

}
.footer.flex ul {
    gap: 1rem   ;
}
.footer.flex ul li a{
    color: var(--subtitle);
    font-size: 1rem;
    transition: 0.9;

}
.footer.flex ul li a:hover{
    color: var(--blue);
    font-size: 1rem;
    font-weight: 500;

}
.footer.flex p {
    color: rgb(113, 113, 122);
}

@media (max-width:600px){
     .footer.flex {
        flex-direction: column;
        gap: 0.7rem;
     }
     .footer.flex ul li a , .footer.flex p {
        font-size: 0.9rem;
     }
}