section.contact-us .icon-envelope-o {
  color: var(--subtitle);
  margin-right: 1rem;
  font-size: 1.8rem;
  justify-content: center;
  text-align: center;
}
section.contact-us .right-section {
  padding-left: 2rem; /* Add padding to create space between left and right sections */
  margin-left: 10rem; /* Add margin to create space between left and right sections */
  display: flex;
  align-items: center;
}

section.contact-us .title {
  font-weight: 600;
  font-size: 2rem;
  justify-content: center;
  margin-bottom: 1rem;
}

section.contact-us p {
  color: var(--subtitle);
  font-weight: 400;
  font-size: 1.01rem;
  margin-bottom: 2rem;
  line-height: 1.6rem;
}

section.contact-us label {
  color: var(--subtitle);
}

section.contact-us #email,
section.contact-us #message {
  all: unset;
  background-color: rgba(63, 63, 70, 0.15);
  border: 1px solid rgb(63, 63, 70);
  width: 16rem;
  margin-left: 1rem;
  border-radius: 5px;
  padding: 0.75rem 0.5rem;
}

section.contact-us #email:focus,
section.contact-us #message:focus {
  border: 1px solid rgba(93, 188, 252, 0.3);
}

section.contact-us #email:hover,
section.contact-us #message:hover {
  border: 1px solid rgba(93, 188, 252, 0.3);
}

section.contact-us #message {
  min-height: 9rem;
  resize: both;
}

section.contact-us button {
  background-color: rgba(36, 37, 46, 1);
  padding: 0.75rem 2rem;
  text-align: center;
  font-size: 1rem;
  text-transform: capitalize;
  border-radius: 5px;
  transition: 0.3s;
  margin-top: 1.8rem;
  border: 1px solid rgb(63, 63, 70);
}

@media (max-width: 600px) {
  section.contact-us .animation {
    display: none;
  }

  section.contact-us .flex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  section.contact-us #email,
  section.contact-us #message {
    width: 100%;
    margin-left: 0px;
    padding: 0.5rem 0rem;
    margin-top: 1rem;
  }

  section.contact-us .submit {
    width: 30%;
    align-self: center;
  }
}

section.contact-us .card {
  background-color: var(--gray); /* Same background color as the page */
  border: 1px solid var(--blue); /* Gray border */
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; /* Change cursor to pointer on hover */
}

section.contact-us .card p {
  margin: 0;
}

.resume-text {
  font-weight: bold;
}

.view-resume-text {
  color: var(--secondary);
  font-size: 0.8rem;
}
